<div class="contents row">
  <div class="container">
    <%= form_for @tripnote, :html => { multiple: true } do |f| %>
      <h3>
        Create a new logbook
      </h3>
      <div class="field">
        <%= f.label :Title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :Description %><br>
        <%= f.text_area :description %>
      </div>
      <ul>
        <li><%= file_field_tag "images[]", type: :file , multiple: true %></li>
      </ul>
    <% end %>
  </div>
</div>