<div ng-controller="TripnotesShowController">
  <p id="notice"><%= notice %></p>

  <div class="cover-photo">
    <%= image_tag @tripnote.user_photo.image.url(:thumb) %>
  </div>

  <h2>
    <strong>Title:</strong>
    <%= @tripnote.title %>
  </h2>

  <p>
    <strong>Description:</strong>
    <%= @tripnote.description %>
  </p>

  <% @tripnote.user_reviews do |review| %>
    <p><%= review.description %></p>
    <p><%= image_tag(review.user_photo.authenticated_image_url(:thumb)) if review_user_photo.present? %></p>
  <% end%>

  <p>
    <strong>Created by:</strong>
    <%= @tripnote.user.name %>
  </p>

  <hr>

  <div class="reviews-wrapper">
    <% @tripnote.user_reviews.each do |rv| %>
      <div class="review-box" ng-controller="ReviewController">
        <h3>Review ID：<%= rv.id %></h3>
        <p><%= rv.spot.name if rv.spot %></p>
        <p><%= image_tag rv.thumbnail_url %></p>
        <h4>ReviewBody:<%= rv.body %></h4>
        <hr>
        <h4>Add your comment</h4>
        <% if current_user %>
          <%= image_tag current_user.thumbnail_url %>
          <form role="form" ng-submit="addReviewComment()">
            <div class="form-group" ng-init="reviewId = <%= rv.id %>">
              <input type="text" class="form-control" placeholder="<%= t("tripnote.add_comment") %>" ng-show="!isSaving" ng-disabled="!!isSaving" ng-model="reviewNewComment">
            </div>
          </form>
        <% end %>
        <hr>
        <h4>User's comments</h4>
        <% if rv.comments.present? %>
          <% rv.comments.each do |rvCm| %>
            <%= image_tag rvCm.user.thumbnail_url%>
            <p><%= rvCm.body %></p>
          <% end %>
        <% else %>
          <p>Nothing yet.</p>
        <% end %>
        <hr>
      </div><!-- .review-box -->
    <% end %>
  </div>

  <hr>
  <h2>Comments</h2>

  <div>
    <% @tripnote.comments.each do |cm| %>
      <%= image_tag cm.user.thumbnail_url%>
      <p><%= cm.body %></p>
    <% end %>
  </div>

  <form role="form" ng-submit="addComment()">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="<%= t("tripnote.add_comment") %>" ng-show="!isSaving" ng-disabled="!!isSaving" ng-model="logbookNewComment">
    </div>
  </form>

  <hr>

  <%= link_to 'Back', tripnotes_path %>
  <%= link_to 'Edit', edit_tripnote_path(@tripnote) %>
</div>