<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header-bar" style = "background-color: gray; height: 30px;">
      <div class="header-left" style="float: left">
        <a><%= link_to 'Top', :root %></a>
        <a><%= link_to 'Create a new logbook', new_tripnote_path %></a>
        <a><%= link_to 'User Management', users_path %></a>
      </div>
      <div class="header-right" style="float: right" >
        <% if current_user %>
          <a style="color: white">Status : Logged in</a>
        <% else %>
          <a style="color: white">Status : Logged out</a>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>