<!DOCTYPE html>
<html ng-app="compathyClone">
  <head>
    <title>Compathy-Clone</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header-bar">
      <div class="header-left">
        <a><%= link_to 'Top', :root %></a>
        <a><%= link_to 'Create a new logbook', new_tripnote_path %></a>
      </div>
      <div class="header-right">
          <a><%= link_to 'User Management', users_path %></a>
        <% if current_user %>
          <a style="color: white">Status : Logged in</a>
        <% else %>
          <a style="color: white">Status : Logged out</a>
        <% end %>
      </div>
    </div>
    <div class="content-wrapper">
      <%= yield %>
    </div>
  </body>
</html>